{
    servers {
        protocols h1 h2
    }
}

(docugarden_routes) {
    handle /api/* {
        reverse_proxy backend:4000
    }

    handle /api-docs* {
        reverse_proxy backend:4000
    }

    handle /uploads/* {
        reverse_proxy backend:4000
    }

    handle {
        reverse_proxy frontend:80
    }
}

localhost {
    import docugarden_routes
}
